body{
    margin: 0;
    padding: 0;
}

/* Header */

.header-main{
  
}

.header{
    background-image: url('/images/bg1.png');

    background-size: cover;
height: auto;
    margin-left: auto;
    
    width: 100%;
}


.img img{
   height: auto;
  padding-bottom: 50px;
width: 70%;
}

.inner{
    width: 70%;
    height: auto;
      position: absolute;
     left: 0;
     top: 0;
  ;display: flex;
  flex-direction: column;
  justify-content: center;
 
}





.text{
   margin: auto;
    
    
  width: 70%;
}

.text img{
    width: 60%;
    margin-top: 20px;
}
.text h1{
    font-weight: 600;
    font-size: 72px;
    line-height: 80px;
    color:  #2E8CAD;
    ;
    margin-top: 60px;
}

.text h2{
    font-weight: 600;
    font-size: 72px;
    line-height: 80px;
    color:  #2E8CAD;
    ;
    margin-top: -60px;
}

.text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:  #000000;
    margin-top: -40px;
    width: 60%;
}

.text i{
    color: #2E8CAD;
    margin-top: 10px
}

.text span{
    color: #2E8CAD;
    margin-left: 10px;
    ;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.btn {
    border-radius: 40px;
    margin-top: 20px;
  position: relative;
    width: 100px;
    height: 12px;
    border: 2px solid #2EBAEB;
 padding: 7px;
 
  }

  .text button{
    background-color: #2EBAEB;
    color: #FFFFFF;
   position: absolute;
   top: 0;
   left: 0.5px;
    

    border-radius: 40px;
   
    font-weight: 500;
    font-size: 16px;
    
   margin-left: -10px;
 margin-top: -10px;
    padding: 7px;
 
    width:125px;
    border: none;
     
    cursor: pointer;
  }
@media screen and (max-width:1024px) {
   
    .text{
        
        
         
       width: 80%;
     }
     
     .text img{
         width: 60%;
         margin-top: 20px;
     }
     .text h1{
         font-weight: 600;
         font-size: 42px;
         line-height: 80px;
         color:  #2E8CAD;
         ;
         margin-top: 10px;
     }

     .text h2{
        font-weight: 600;
        font-size: 42px;
        line-height: 80px;
        color:  #2E8CAD;
        ;
        margin-top: -60px;
    }
     
     .text p{
         font-weight: 400;
         font-size: 14px;
         line-height: 24px;
         color:  #000000;
         margin-top: -40px;
         width: 60%;
     }
     
     .text i{
         color: #2E8CAD;
         margin-top: 10px
     }
     
     .text span{
         color: #2E8CAD;
         margin-left: 10px;
         ;
         font-weight: 500;
         font-size: 16px;
         line-height: 24px;
     }
    
}

@media screen and (max-width:840px) {
 
   .img img{
    height: 530px;
    width: 70%;
   }

 
   
   
    
}

@media screen and (max-width:540px){
    .img img{
        height: 510px;
        width: 80%;
       }

       .text h1{
        font-size: 30px;

       }

       .text h2{
        font-size: 30px;
       }

       .text p{
        font-size: 12px;
        width: 80%;
       }

      
}

/* Contact Us */
.contacts{
    width: 40%;
    margin-left: auto;
    
}

.contact-main{
    text-align: center;
    position: absolute;

    width: 30%;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 10%);
    border-radius: 30px;
   margin-left: auto;
   margin-right: auto;

    margin-top: -580px; 
   background-color: #FFFFFF;
   
  
}
.contact{
    width:  70%;
   margin: auto;
   
}
.contact-head{
    width: 100%;
  
}

.contact-head h1{
    padding-top: 20px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color:   #2E8CAD;
    ;
    
}

.contact-text{
    width: 80%;display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
  }
  .input{
    width:90%;
   margin-left: auto;
   
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  
  .input input{
    
    border: none;
    width: 100%;
    border-radius: 61px;
    background-color: #94D3EA;
    ;
    margin-top: 10px;
    margin-left: auto;
    
    padding: 9px;
  
  }

  .input input:focus{
    outline: none;
    
  }
  
  .btnss{
   
   text-align: center;
  
  }
  
  .input button{
    background-color: #FFFFFF;
    box-shadow: 0px 20px 40px 0px #F3CE5E33;
  border-radius: 57px;
  border: 3px solid #94D3EA;
    margin-bottom: 20px;
   margin-top: 10px;
   
    font-weight: 700;
    font-size: 10px;
  
    margin-left: auto;
    margin-right: auto;
  
  
    width: 110px;
   height: auto;
   padding: 15px;
    
    
    cursor: pointer;
  }


  @media screen and (max-width:1024px){

    .contact-main{
        text-align: center;
        position: absolute;
    
        width: 30%;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 10%);
        border-radius: 30px;
       margin-left: auto;
       margin-right: auto;
    
      margin-top: -450px;
       background-color: #FFFFFF;
       
      
    }

    .contact-head h1{
        font-size: 30px;
    }
    
  }

  @media screen and (max-width:840px) {
    .contacts{
        width: 55%;
    }
    .contact-main{
        text-align: center;
       
    
        width: 40%;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 10%);
        border-radius: 30px;
       
   
    
     
       
      
    }

    .contact-head h1{
        font-size: 30px;
    }
    
  }

  @media screen and (max-width:640px) {
    .contacts{
        width: 85%;
    }
    .contact-main{
        width: 70%;
        margin-top: 30px;
    }
    
  }


  /* About US  */

  .about-main{
    width: 100%;
    box-shadow: 0px 0px 50px 0px #12415226;

    margin-top: -32px;

  }
  .about-head h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
text-align: center;
color: #2E8CAD;
padding-top: 20px
;
  }
  .about-texts{
     width: 85%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin: auto;
  }
  .about-text{
   width: 30%;
   margin-top: 20px;
  }

  .about-text p{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color:  #4F4F4F;
    width: 95%;
  }

  
  .buttons{

padding-top: 20px;
padding-bottom: 20px;
  }

  

  .btns {
    border-radius: 40px;
    margin: auto;
  position: relative;
    width: 100px;
    height: 12px;
    border: 2px solid #2EBAEB;
 padding: 7px;
 
  }

  .btns button{
    background-color: #2EBAEB;
    color: #FFFFFF;
   position: absolute;
   top: 0;
   left: 0.5px;
    

    border-radius: 40px;
   
    font-weight: 500;
    font-size: 16px;
    
   margin-left: -10px;
 margin-top: -10px;
    padding: 7px;
 
    width:125px;
    border: none;
     
    cursor: pointer;
  }

  @media screen and (max-width:840px){
    

    .about-texts{
        width: 80%;
        
     }
  }

  @media screen and (max-width:540px) {
    .about-main{
        margin-top: 470px;
    }
    .about-texts{
        
        display: flex;
       flex-direction: column;
       
     }

     .about-text{
        width: 100%;
     }
     .about-text p{
        width: 100%;
     }
  }


  /* Services */

  .service-main{
    width: 100%;
    height: auto;
    background-color:  #F2F2F2;
    ;
  }

  .service-head h1{
    text-align: center;
    color:  #2E8CAD;
    padding-top: 20px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
  }

  .cards{
width: 100%;
height: auto;
margin: auto;

display: flex;
flex-wrap: wrap;
justify-content: center;
  }

  .card{
    margin-left: 15px;
    width: 25%;
    background-color: #FFFFFF;
  border-radius: 30px 30px 30px 30px;
  }
  .card img{
    width: 100%;
    height: auto;
  }

  .card h1{
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    color:  #000000;
    padding-left: 20px;
   
  }
  .card p{
    width: 80%;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  @media screen  and (max-width:840px){
    .cards{
        
        
        display: flex;
        flex-direction: column;
        justify-content: center;
          }

          .card{
          margin: auto;
          margin-top: 20px;
            width: 50%;
            
          
          }
  }

  @media screen  and (max-width:540px){
    

          .card{
          margin: auto;
          margin-top: 20px;
            width: 70%;
            background-color: #FFFFFF;
          border-radius: 30px 30px 30px 30px;
          }
  }

  /* Testymonials */

  .testymonial-main{
    width: 100%;
    background-color:  #95D4EB;
    margin-top: -40px;
  }

  .testymonial-head h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
  }

  .testymonials{
display: flex;
flex-wrap: wrap;
justify-content: center;

  }


  .testymonial{
    width: 35%;
    height: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 20px;
    box-shadow: 0px 20px 20px 0px #81D1FF33;
    border-radius: 40px;
    margin-top: 20px;
    margin-left: 20px;
    

  }
  .monial-img img{
    width: 80%;
    margin-top: 10px;
  }

  .monial-text{
    width: 70%;
    margin-left:4px ;
    padding-bottom: 10px;
  }

  .monial-text h1{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color:  #50B2EA;
    
  }

  .monial-text p{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color:#19435A;
    
  }

  @media screen  and (max-width:1024px){
    .testymonial{
        width: 45%;
        
        margin-left: 10px;
        
    
      }
  }

  @media screen and (max-width:840px) {
    .testymonials{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .testymonial{
        width: 60%;
        
       margin: auto;
       margin-top: 20px;
        
    
      }
  }

  @media screen and (max-width:540px) {
    

    .testymonial{
        width: 90%;
        
       margin: auto;
       margin-top: 20px;
        
    
      }
  }